{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About HireHorizon</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Welcome to HireHorizon, your gateway to a world of career opportunities. At HireHorizon, we are committed to connecting job seekers with the best job listings from top companies across various industries. Our platform provides a curated selection of job links, making it easy for you to explore and apply for positions that match your skills and aspirations. We strive to make your job search as seamless and efficient as possible.
        </p>
        <p>
          Joins us and help other to find a right job Opportunities.
        </p>
        
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
